<a href="https://colab.research.google.com/github/steveding1/DE-learning/blob/main/etl_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
csv = """
ip,time,path,status,size
108.66.146.1,2017-06-19T14:03:00,/images,200,1095
108.66.146.3,2017-06-19T14:03:21,/posts,200,1572
108.66.146.6,2017-06-19T14:03:42,/posts,200,1174
108.66.146.1,2017-06-19T14:04:03,/users,200,684
108.66.146.1,2017-06-19T14:04:24,/images,400,0
108.66.146.4,2017-06-19T14:04:45,/posts,200,1594
108.66.146.6,2017-06-19T14:05:06,/images,200,857
108.66.146.2,2017-06-19T14:05:27,/users,200,1834
108.66.146.1,2017-06-19T14:05:48,/images,200,1412
108.66.146.2,2017-06-19T14:06:09,/health,200,698
108.66.446.2,2017-06-19T14:06:30,/users,200,833
108.66.146.5,2017-06-19T14:06:51,/health,200,534
108.66.146.1,2017-06-19T14:07:12,/users,200,1833
108.66.146.3,2017-06-19T14:07:33,/posts,200,1574
108.66.146.5,2017-06-19T14:07:54,/posts,200,1472
108.66.146.2,2017-06-19T14:08:15,/health,200,2048
108.66.146.3,2017-06-19T14:08:36,/health,400,0
108.66.146.1,2037-06-19T14:08:57,/users,200,1658
108.66.146.4,2017-06-19T14:09:18,/posts,400,0
108.66.146.3,2017-06-19T14:09:39,/images,200,996
108.66.146.4,2017-06-19T14:10:00,/users,200,905
108.66.146.2,2017-06-19T14:10:21,,200,1987
108.66.146.6,2017-06-19T14:10:42,/images,200,2004
108.66.146.4,2017-06-19T14:11:03,/users,200,1973
108.66.146.1,2017-06-19T14:11:24,/posts,200,674
108.66.146.5,2017-06-19T14:11:45,/posts,200,1928
108.66.146.3,2017-06-19T14:12:06,/posts,200,-1755
108.66.146.3,2017-06-19T14:12:27,/health,200,1702
108.66.146.6,2017-06-19T14:12:48,/health,200,1226
108.66.146.4,2017-06-19T14:13:09,/images,200,1691
108.66.146.5,2017-06-19T14:13:30,/health,200,741
108.66.146.2,2017-06-19T14:13:51,/posts,200,2000
108.66.146.2,2017-06-19T14:14:12,/health,200,1144
108.66.146.1,2017-06-19T14:14:33,/health,200,937
108.66.146.3,2017-06-19T14:14:54,/images,200,1233
108.66.146.2,2017-06-19T14:15:15,/images,200,1655
108.66.146.1,2017-06-19T14:15:36,/users,200,964
108.66.146.5,2017-06-19T14:15:57,/posts,200,1937
108.66.146.3,2017-06-19T14:16:18,/users,200,1613
108.66.146.3,2017-06-19T14:16:39,/images,200,1070
108.66.146.6,2017-06-19T14:17:00,/users,200,1199
108.66.146.2,2017-06-19T14:17:21,/health,200,1456
108.66.146.1,2017-06-19T14:17:42,/users,200,758
108.66.146.2,2017-06-19T14:18:03,/users,200,889
108.66.146.5,2017-06-19T14:18:24,/health,200,512
108.66.146.4,2017-06-19T14:18:45,/health,200,1131
108.66.146.3,2017-06-19T14:19:06,/health,200,1583
108.66.146.6,2017-06-19T14:19:27,/users,200,757
108.66.146.5,2017-06-19T14:19:48,/users,200,1632
108.66.146.3,2017-06-19T14:20:09,/posts,200,1063
108.66.146.6,2017-06-19T14:20:30,/images,200,1225
108.66.146.3,2017-06-19T14:20:51,/images,200,1832
108.66.146.1,2017-06-19T14:21:12,/users,200,623
108.66.146.3,2017-06-19T14:21:33,/health,200,1280
108.66.146.6,2017-06-19T14:21:54,/posts,200,637
108.66.146.4,2017-06-19T14:22:15,/health,200,1696
108.66.146.6,2017-06-19T14:22:36,/images,200,1701
108.66.146.5,2017-06-19T14:22:57,/health,200,681
108.66.146.2,2017-06-19T14:23:18,/health,200,1298
108.66.146.4,2017-06-19T14:23:39,/images,900,1426
108.66.146.5,2017-06-19T14:24:00,/images,200,1754
108.66.146.5,2017-06-19T14:24:21,/posts,200,710
108.66.146.5,2017-06-19T14:24:42,/health,200,1565
108.66.146.2,2017-06-19T14:25:03,/users,200,850
108.66.146.1,2017-06-19T14:25:24,/posts,200,532
108.66.146.6,2017-06-19T14:25:45,/users,200,728
108.66.146.4,2017-06-19T14:26:06,/users,200,2033
108.66.146.2,2017-06-19T14:26:27,/users,200,1132
108.66.146.1,2017-06-19T14:26:48,/health,200,1892
108.66.146.5,2017-06-19T14:27:09,/users,200,1001
108.66.146.2,2017-06-19T14:27:30,/health,200,1318
108.66.146.4,2017-06-19T14:27:51,/users,400,0
108.66.146.5,2017-06-19T14:28:12,/images,200,1628
108.66.146.3,2017-06-19T14:28:33,/posts,200,1692
108.66.146.6,2017-06-19T14:28:54,/users,200,1702
108.66.146.2,2017-06-19T14:29:15,/users,400,0
108.66.146.3,2017-06-19T14:29:36,/users,200,814
108.66.146.3,2017-06-19T14:29:57,/users,200,1139
108.66.146.3,2017-06-19T14:30:18,/images,400,0
108.66.146.6,2017-06-19T14:30:39,/posts,200,1520
108.66.146.1,2017-06-19T14:31:00,/users,200,1261
108.66.146.3,2017-06-19T14:31:21,/posts,400,0
108.66.146.2,2017-06-19T14:31:42,/images,200,1554
108.66.146.5,2017-06-19T14:32:03,/images,200,711
108.66.146.4,2017-06-19T14:32:24,/health,200,603
108.66.146.4,2017-06-19T14:32:45,/images,200,995
108.66.146.6,2017-06-19T14:33:06,/health,200,546
108.66.146.6,2017-06-19T14:33:27,/posts,200,1374
108.66.146.3,2017-06-19T14:33:48,/users,200,1267
108.66.146.2,2017-06-19T14:34:09,/users,200,582
108.66.146.4,2017-06-19T14:34:30,/users,200,1605
108.66.146.1,2017-06-19T14:34:51,/posts,200,1250
108.66.146.5,2017-06-19T14:35:12,/images,200,1393
108.66.146.2,2017-06-19T14:35:33,/users,200,1153
108.66.146.5,2017-06-19T14:35:54,/posts,200,1635
108.66.146.5,2017-06-19T14:36:15,/images,200,1452
108.66.146.1,2017-06-19T14:36:36,/health,200,1568
108.66.146.3,2017-06-19T14:36:57,/health,200,1450
108.66.146.1,2017-06-19T14:37:18,/posts,200,1231
108.66.146.1,2017-06-19T14:37:39,/health,200,793
108.66.146.3,2017-06-19T14:38:00,/users,200,842
108.66.146.6,2017-06-19T14:38:21,/images,200,1939
108.66.146.5,2017-06-19T14:38:42,/health,200,1583
108.66.146.1,2017-06-19T14:39:03,/users,200,1382
108.66.146.4,2017-06-19T14:39:24,/users,400,0
108.66.146.1,2017-06-19T14:39:45,/images,200,1066
108.66.146.2,2017-06-19T14:40:06,/images,200,1602
108.66.146.1,2017-06-19T14:40:27,/users,200,952
108.66.146.6,2017-06-19T14:40:48,/health,200,1348
108.66.146.5,2017-06-19T14:41:09,/health,200,1296
108.66.146.4,2017-06-19T14:41:30,/posts,200,1459
108.66.146.5,2017-06-19T14:41:51,/users,400,0
108.66.146.1,2017-06-19T14:42:12,/health,200,531
108.66.146.3,2017-06-19T14:42:33,/health,200,1702
108.66.146.5,2017-06-19T14:42:54,/users,200,1116
108.66.146.1,2017-06-19T14:43:15,/images,200,1304
108.66.146.3,2017-06-19T14:43:36,/posts,200,1008
108.66.146.4,2017-06-19T14:43:57,/health,200,1182
108.66.146.6,2017-06-19T14:44:18,/images,200,987
108.66.146.4,2017-06-19T14:44:39,/users,400,0
108.66.146.2,2017-06-19T14:45:00,/images,200,1770
108.66.146.1,2017-06-19T14:45:21,/users,200,1008
108.66.146.2,2017-06-19T14:45:42,/posts,200,981
108.66.146.5,2027-06-19T14:46:03,/posts,200,1750
108.66.146.3,2007-06-19T14:46:24,/users,200,1079
108.66.146.1,2017-06-19T14:46:45,/images,200,1064
108.66.146.5,2017-06-19T14:47:06,/health,200,1531
108.66.146.4,2017-06-19T14:47:27,/images,200,1029
"""
with open("traffic.csv","w") as f:
  f.write(csv)

In [68]:
from ipaddress import ip_address
import pandas as pd
from http import HTTPStatus
import datetime
import sqlite3

In [48]:
df = pd.read_csv('traffic.csv',parse_dates=['time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ip      128 non-null    object
 1   time    128 non-null    datetime64[ns]
 2   path    127 non-null    object
 3   status  128 non-null    int64
 4   size    128 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 5.1+ KB

In [55]:
respond_code = [int(status) for status in set(HTTPStatus)]
median_time = df.time.median()

In [59]:
def df_valid(row):
  try:
    ip_address(row['ip'])
  except ValueError:
    return False
  if abs(row['time'] - median_time) > datetime.timedelta(days=1):
    return False
  if pd.isnull(row['path']) or not row['path'].strip():
    return False
  if row['status'] not in respond_code:
    return False
  if pd.isnull(row['size']) or row['size']<=0:
    return False
  return True

In [63]:
bad_rows = df[~df.apply(df_valid,axis=1)]
bad_pct = len(bad_rows)/len(df)*100
print(bad_pct)
bad_rows

13.28125

               ip                time     path  status  size
4    108.66.146.1 2017-06-19 14:04:24  /images     400     0
10   108.66.446.2 2017-06-19 14:06:30   /users     200   833
16   108.66.146.3 2017-06-19 14:08:36  /health     400     0
17   108.66.146.1 2037-06-19 14:08:57   /users     200  1658
18   108.66.146.4 2017-06-19 14:09:18   /posts     400     0
21   108.66.146.2 2017-06-19 14:10:21      NaN     200  1987
26   108.66.146.3 2017-06-19 14:12:06   /posts     200 -1755
59   108.66.146.4 2017-06-19 14:23:39  /images     900  1426
71   108.66.146.4 2017-06-19 14:27:51   /users     400     0
75   108.66.146.2 2017-06-19 14:29:15   /users     400     0
78   108.66.146.3 2017-06-19 14:30:18  /images     400     0
81   108.66.146.3 2017-06-19 14:31:21   /posts     400     0
104  108.66.146.4 2017-06-19 14:39:24   /users     400     0
111  108.66.146.5 2017-06-19 14:41:51   /users     400     0
119  108.66.146.4 2017-06-19 14:44:39   /users     400     0
123  108.66.146.5 2027-06-19 14:46:03   /posts     200  1750
124  108.66.146.3 2007-06-19 14:46:24   /users     200  1079

In [66]:
df = df[~df.index.isin(bad_rows.index)]
df

               ip                time     path  status  size
0    108.66.146.1 2017-06-19 14:03:00  /images     200  1095
1    108.66.146.3 2017-06-19 14:03:21   /posts     200  1572
2    108.66.146.6 2017-06-19 14:03:42   /posts     200  1174
3    108.66.146.1 2017-06-19 14:04:03   /users     200   684
5    108.66.146.4 2017-06-19 14:04:45   /posts     200  1594
..            ...                 ...      ...     ...   ...
121  108.66.146.1 2017-06-19 14:45:21   /users     200  1008
122  108.66.146.2 2017-06-19 14:45:42   /posts     200   981
125  108.66.146.1 2017-06-19 14:46:45  /images     200  1064
126  108.66.146.5 2017-06-19 14:47:06  /health     200  1531
127  108.66.146.4 2017-06-19 14:47:27  /images     200  1029

[111 rows x 5 columns]

In [69]:
with sqlite3.connect('dbfile.db') as conn:
  df.to_sql('traffic',conn,if_exists='append',index=False)

In [72]:
pd.read_sql('select * from traffic',conn)

               ip                 time     path  status  size
0    108.66.146.1  2017-06-19 14:03:00  /images     200  1095
1    108.66.146.3  2017-06-19 14:03:21   /posts     200  1572
2    108.66.146.6  2017-06-19 14:03:42   /posts     200  1174
3    108.66.146.1  2017-06-19 14:04:03   /users     200   684
4    108.66.146.4  2017-06-19 14:04:45   /posts     200  1594
..            ...                  ...      ...     ...   ...
106  108.66.146.1  2017-06-19 14:45:21   /users     200  1008
107  108.66.146.2  2017-06-19 14:45:42   /posts     200   981
108  108.66.146.1  2017-06-19 14:46:45  /images     200  1064
109  108.66.146.5  2017-06-19 14:47:06  /health     200  1531
110  108.66.146.4  2017-06-19 14:47:27  /images     200  1029

[111 rows x 5 columns]

In [73]:
conn.close()